* {
  box-sizing: border-box;
}
body {
  font-family: "Silkscreen", cursive;
  margin: 20px;
  background-color: black;
  color: yellow;
  text-align: center;
  overflow-y: hidden;
  overflow-x: hidden;
}
